Software/Test_Programs/Temperature_Test/src/Temperature_Test.cpp
Software/Test_Programs/Temperature_Test/target/*
Software/Test_Programs/Temperature_Test/*.bin
Software/Test_Programs/Temperature_Test/.vscode/settings.json
